@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Pattaya&display=swap');

:root {
    --first-last-colours: #767A8B;
    --save-button: #0b22a3;
    --second-colour: #D5DBF4;
    --delete-button: #A30B37;
    --urgent: #FF9AA2;
    --daily: #FFDAC1;
    --weekly: #FFFFD8;
    --monthly: #B5EAD7;
    --title-font: 'Pattaya', sans-serif;
    --everything-else-font: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 500px;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 20px;
    font-family: var(--everything-else-font);
}
select {
    border-radius: 20px;
}
input {
    border-radius: 20px;
}
.container div {
    width: auto;
    border-radius: 20px;
    padding: 5px 0;
}
.title-bar {
    background-color: var(--first-last-colours);
    color: white;
    margin-bottom: 10px;
}
.title-bar p {
    font-variant: small-caps;
    font-family: var(--title-font);
    font-size: 30px;
    text-align: center;
}
.first-bar {
    background-color: var(--second-colour);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid dimgray;
}
.first-bar div {
    padding-left: 20px; /*I'm doing this at like 5 am. Can't sleep. Killed a roach. Can't find the corpse. Please give me morphine or something and let me sleep*/
}
.first-bar input {
    margin-left: 60px;
}
.first-bar select {
    border-radius: 20px;
    padding: 2px 10px;
    margin-left: 20px;
}
.first-bar button {
    border-radius: 20px;
    width: 80px;
    height: 40px;
    padding: 2px 10px;
    margin-left: 20px;
    background-color: var(--save-button);
    color: white;
    border: none;
    
}
.second-bar {
    background-color: var(--first-last-colours); 
    color: white;
}
.second-bar select {
    border-radius: 20px;
    padding: 2px 10px;
    margin-left: 20px;
}
.second-bar div {
    padding-left: 20px;
}
.second-bar p {
    display: inline-flex;
    padding-right: 5px;
}
.task-body article {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    border: 1px solid dimgray;
}
.task-body article div { /*I know this is like terrible but it's 6am so fuck the police*/
    display: flex;
    justify-content: space-around;
}
.task-body article div p {
    width: 80%;
    line-height: 25px;
    vertical-align: center;
}
.delete {
    background-color: var(--delete-button);
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    color: white;
}
.footer {
    background-color: var(--first-last-colours);
    color: white;
}
.footer p {
    text-align: center;
    font-family: var(--title-font);
    font-weight: 200;
}
.priority-urgent {
    background-color: var(--urgent);
}
.priority-daily {
    background-color: var(--daily);
}
.priority-weekly {
    background-color: var(--weekly);
}
.priority-monthly {
    background-color: var(--monthly);
}